<h1>Billy's Interests</h1>

<div class="div1" id='pudge'>Billy likes to eat <a href="https://www.yelp.com/biz/goldyburgers-forest-park" target="blank_">Goldyburgers</a> and drink beer for fun. It is delicious!
</div>

<div class="buttChangeClass">
  <input class="buttClass" id='butt1' type="button" value="Change color" onclick= "change_color(); change_butt_val()">
  <input class="buttClass" type="button" value="Make more delicious" onclick= "change_text()">
  <input class="buttClass" type="button" value="Change class" onclick= "change_class()">
</div>

<canvas id='canvas1' class="orange_back">
</canvas>
<canvas id='canvas2' class="yellow_back">
</canvas>

<div class="buttChangeClass">
  <input class="buttClass" id='butt1' type="button" value="Change color" onclick= "changeColor()">
  <input class="buttClass" type="button" value="Add Elements" onclick= "addElements()">
  <input class="buttClass" type="button" value="Clear" onclick= "clear_the_rect()">
</div>